<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <!-- General -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">

  <!-- Check for Javascript -->
  <script>
    var html = document.getElementsByTagName('html')[0];
    html.classList.remove('no-js');
    html.classList.add('js');
  </script>

  <!-- Title -->
  <title>Whac-A-Mole</title>
  <meta name="description" content="Whac-A-Mole">
  <meta name="keywords" content="Whac-A-Mole">

  <!-- Favicons -->
  <link rel="shortcut icon" type="image/x-icon"
    href="https://projects.timschneider.xyz/countdown/dist/images/favicons/favicon.ico">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <div id="__root">

    <main class="container">
      <header class="header">
        <h1>Whac-A-Mole</h1>
        <div class="header__stats">
          <div class="header__timer">
            <h2>Timer:</h2>
            <span id="timer">0</span>
          </div>
          <div class="header__score">
            <h2>Score:</h2>
            <span id="score">0</span>
          </div>
        </div>
      </header>

      <div class="game-grid">
        <div id="1" class="game-grid__cell"></div>
        <div id="2" class="game-grid__cell"></div>
        <div id="3" class="game-grid__cell"></div>
        <div id="4" class="game-grid__cell"></div>
        <div id="5" class="game-grid__cell"></div>
        <div id="6" class="game-grid__cell"></div>
        <div id="7" class="game-grid__cell"></div>
        <div id="8" class="game-grid__cell"></div>
        <div id="9" class="game-grid__cell"></div>
      </div>
    </main>

  </div>
</body>

</html>
